* {
  font-family: 'Heebo', sans-serif;
}
.letter-size {
  font-size: 17px;
  line-height: 22px;
}
.icon-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 25px;
  background-size: 21px 24px;
}
.phone {
  background-image: url('assets/Icons/Plane.png');
}
.gift {
  background-image: url('assets/Icons/Gift.png');
}
.pin {
  background-image: url('assets/Icons/pin.png');
}
.phone {
  background-image: url('assets/Icons/phone.png');
}
.percent {
  background-image: url('assets/Icons/percentage.png');
}
.percent-highlight {
  font-weight: 500;
  color: #ff5100;
}
.text-replacement {
  color: transparent;
}
.user {
  background-image: url('assets/Icons/user.png');
}
.bag {
  background-image: url('assets/Icons/Bag.png');
}
.list-inline {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
}
.search {
  background-image: url('assets/Icons/search.png');
}
.bg-discount {
  background-color: black;
  color: gray;
}
.discount-highlight {
  color: white;
}
.banner {
  background-image: url('assets/images/banner.png');
  color: white;
  height: 664px;
}
h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
}
.button-font {
  font-weight: 500px;
  font-size: 16px;
  line-height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.button-dog {
  width: 231px;
  height: 55px;
  margin-right: 30px;
}
.button-cat {
  width: 177px;
  height: 55px;
  background-color: transparent;
  color: white;
}
.card-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px 0;
  background-color: #f8f8f8;
}
.card-md {
  background-color: #f8f8f8;
  padding: 55px 0 39px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0 10px 0;
  max-height: 210px;
  background-color: #f8f8f8;
}
.card-big-img {
  width: 70%;
  margin-bottom: 55px;
}

.card-md-img {
  width: 20%;
}
.card-sm-img {
  width: 40%;
}
.main-products {
  max-width: 100vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}

.cat {
  background-image: url('assets/Icons/Pets Left.png');
  background-repeat: no-repeat;
  background-position: left;
}
.dog {
  background-image: url('assets/Icons/Dog.png');
  background-repeat: no-repeat;
  background-position: left;
}
.bg-card {
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-end;
}
.discount-tag {
  color: white;
  background-color: black;
  justify-content: center;
  padding: 0 15px;
}
.product-name{
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
}
.product-price{
 font-weight: 500;
font-size: 23px;
line-height: 28px;
}

.sd-banner{
  background-image: url('assets/images/SD Banner.png');
  background-repeat: no-repeat;
  color: white;
  height: 664px
}

.dc-banner{
  background-image: url('assets/images/CTA BANNER.png');
  background-repeat: no-repeat;
  color: white;
  height: 664px
}